{% extends "bazowa.html" %}
{% block body %}
    {% if logged == True %}
        <div style="text-align: right">
            <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
        </div>
        <center>
            <iframe src="czat" width=640 height=480 id="frame" marginwidth="20" marginheight="10" name="ramka"></iframe>

            <script>
                window.onload = function() {
                    document.getElementById("wiadomosc").focus();
                }
                var ramka = document.getElementById('frame');
                ramka.onload = function(){
                    ramka.contentWindow.scrollTo(0,ramka.scrollHeight);
                };
                setInterval(function(){
                    ramka.src = ramka.src;
                },5000);
            </script>


            <form action="{{ url_for('wyslij') }}" method="POST">
                <input type="text" name="wiadomosc" id="wiadomosc" >
                <input type="submit" value="Wyślij">
            </form>
        </center>
    {% endif %}
    {%  if logged == False %}
        <div style="text-align: right">
            <a href="{{ url_for('zaloguj') }}">Zaloguj</a>
        </div>
    {% endif %}
{% endblock %}