{% extends "bazowa.html" %}
{% block body %}
    <center>
        <form action="{{ url_for('zaloguj') }}" method="POST">
            Login:<input type="text" name="loginName" id="loginName"><br/>
            <input type="submit" value="Zaloguj">
        </form>
    </center>
{% endblock %}
