
<form action="{{ url_for('odbierz') }}" method="POST">
    Id<input type="text" name="id" id="id" ><br/>
    Uzytkownik<input type="text" name="user" id="user" ><br/>
    Wiadomosc<input type="text" name="message" id="message" ><br/>
    Data<input type="text" name="timestamp" id="timestamp" ><br/>
    <input type="submit" value="send">
</form>
